body {
  padding-top: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}
/* Custom page footer */
.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.resume-template {
  padding: 40px 15px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
