body {
  padding-top: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}
/* Custom page footer */
.footer {
  padding-top: 15px;
  padding-bottom: 5px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
#footer li {
  display: inline;
}
/* Custom resume style */
.resume-template {
  padding: 40px 15px;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 20px;
}
